<mat-card fxFlex class="Detail-Card">
  <mat-card-content fxLayoutAlign="space-evenly center">
    <button mat-raised-button class="button" color="accent" fxFlex (click)="openDialog_create()">
      Create new Certificate.
    </button>
  </mat-card-content>


</mat-card>
<mat-progress-spinner *ngIf="loading2"
                      style="margin:auto;z-index: 999;" color="accent"
                      mode="indeterminate">
</mat-progress-spinner>
<div class="container" fxLayout="row warp" fxLayoutAlign="space-evenly center"
     *ngIf="previewCertfsMgmt | async; let previewCertfsMgmt; else loading"
>
  <mat-card fxFlex class="start-card" *ngFor="let previewCertfMgmt of previewCertfsMgmt">

    <mat-card-header>
      <mat-card-title class="mat-card-title">{{previewCertfMgmt.name}}</mat-card-title>
    </mat-card-header>

    <img mat-card-image src={{previewCertfMgmt.previewImage}} alt="Image of certificate">

    <mat-card-content>
      <h4>Name:</h4>
      <p>{{previewCertfMgmt.name}}</p>
      <h4>Description:</h4>
      <p>{{previewCertfMgmt.description}}</p>
      <h4>Id:</h4>
      <p>{{previewCertfMgmt.templateId}}</p>
      <h4>Executions:</h4>
      <p>{{previewCertfMgmt.executions}}</p>
    </mat-card-content>


    <mat-card-actions fxLayoutAlign="space-evenly center">
      <button mat-raised-button class="button" color="primary" routerLink="/management/{{previewCertfMgmt.templateId}}"
              fxFlex>Configure
      </button>
    </mat-card-actions>

  </mat-card>
</div>

<ng-template #loading>
  <mat-progress-spinner style="margin:auto;"
                        color="accent"
                        mode="indeterminate">
  </mat-progress-spinner>
</ng-template>

